<!-- Favicon -->
<link rel="shortcut icon" href="http://www.sfchronicle.com/favicon.ico" type="image/x-icon">

<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@sfchronicle">
<meta name="twitter:title" content="Rising Reality: Shoring up the city&rsquo;s edge">
<meta name="twitter:url" content="http://projects.sfchronicle.com/2016/sea-level-rise/#part2">
<meta name="twitter:image" content="http://projects.sfchronicle.com/2016/sea-level-rise/assets/photos/embarcadero/sfwaterfront_social.jpg">
<meta name="twitter:description" content="Special report: History, the future and politics collide as bay waters and an aged seawall threaten San Francisco&rsquo;s Embarcadero.">

<meta property="og:type" content="article">
<meta property="fb:app_id" content="537896802938133"/>
<meta property="og:site_name" content="The San Francisco Chronicle">
<meta property="og:title" content="Rising Reality: Shoring up the city&rsquo;s edge">
<meta property="og:url" content="http://projects.sfchronicle.com/2016/sea-level-rise/#part2">
<meta property="og:image" content="http://projects.sfchronicle.com/2016/sea-level-rise/assets/photos/embarcadero/sfwaterfront_social.jpg">
<meta property="og:description" content="Special report: History, the future and politics collide as bay waters and an aged seawall threaten San Francisco&rsquo;s Embarcadero.">
