@import "sfchronicle";
@import "fonts";
@import "flexbox";

@block-graphics: "AntennaExtraLight";
@bold-graphics: "AntennaMedium";
@body: "FarnhamText";
@body-bold: "FarnhamTextBold";
@title: "FarnhamDisplayLight";
@banner: "DispatchLight";

@teachers: #6C85A5;
@step10: #FFCC32;
@overall: #889C6B;

@red: #E6A8A8;
@gray-blue: #6C85A5;
@dark-gray: #696969;
@light-gray: #B2B2B2;

@share-gray: lighten(#4F5C70,10%);
@back-gray: lighten(#6C85A5,30%);

body {
  font-family: @body;
  // padding: 0 10px;
}

li {
  margin: 0 55px;
  @media @mobile {
    margin: 0 5px;
  }
}

.clickable-map {
  width: 50%;
}

.title-container {
  background: white;
  padding: 0;

  .credit, .caption {
    @media @mobile {
      color: @light-gray !important;
    }
  }
}

.inset-photo {
  padding: 10px 0;
  max-width: 800px;
  width: 80%;
  margin: auto;
  img {
    width:100%;
  }
  @media @tablet {
    padding: 0;
    width: 90%;
    margin: auto;
  }
  @media @mobile {
    padding: 0;
    width: 100%;
    margin: 0;
  }
}

.wide-format-photo {
  width: 100%;
  margin: 30px auto;
}

.small-format-photo {
  margin-left: 30%;
  width: 370px;
  float: left;
  margin-left: 10%;
  margin-right: 20px;
  &.right {
    float: right;
    margin-right: 30%;
    margin-left: 20px;
    margin-bottom: 10px;
    @media @width2060 {
      margin-right: 20%;}
    @media @width1400 {
      margin-right: 10%;}
    @media @width1100 {
      margin-right: 20px;}
    @media @mobile {
      clear: both;
      width: 90%;
      margin: 0 5%;
    }
  }
  @media @width2060 {
    margin-left: 20%;}
  @media @width1400 {
    margin-left: 10%;}
  @media @width1100 {
    margin-left: 20px;}
  @media @mobile {
    width: 100%;
    margin: 20px auto;
    img {
      width: 100%;
    }
  }
}
.inset-photo, .photo_g1, .photo_g2, .photo_g3, .wide-format-photo {
  margin: 30px auto;
  @media @mobile {
    margin: 20px auto;
  }
}

.title-img, .inset-photo, .photo_g1, .photo_g2, .photo_g3, .wide-format-photo, .small-format-photo, .inset-splash {
  font-family: @body;
  .caption {
    font-size: 14px;
    padding-left: 5px;
  }
  .credit {
    padding: 5px 0;
    font-size: 12px;
    padding-left: 5px;
    font-style: italic;
    &.nopadding {
      padding: 0;
      padding-left: 5px;
    }
  }
}

.photo_g1, .photo_g2, .photo_g3 {
  width: 80% !important;
}

#part1, #part2, #part3 {
  padding-top: 20px;
  // max-width: 900px;
  margin: auto;
  @media @mobile {
    padding-top: 0;
  }
  &.hide {
    display: none;
  }
}
#part3 {
  // padding-top: 20px;
  padding-bottom: 50px;
}
.credits {
  max-width: 900px;
}

.text, .hed-container, .inset-photo, .inset-splash, .photo-gallery1, .photo-gallery2, .photo-gallery3, .interactive-header, .flex-container,  .small-format-photo {
  max-width: 900px;
}

.hed {
  font-weight: bold;
  font-size: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: center;
  font-family: @block-graphics;
  font-weight: bold;
  padding: 0 10px;
  padding-bottom: 15px;
}

.special-head {
  color: darken(@gray-blue,30%);
  text-align: right;
  font-family: @banner;
  text-transform: uppercase;
  width: 200px;
  float: right;
  vertical-align: bottom;
  padding-top: 10px;
  font-weight: bold;
  font-size: 16px;
}

.hed-container {
  text-align: center;
  font-size: 35px;
  padding: 0 40px;
  width: 100%;
  margin: auto;
  margin-top: 30px;
  // background: lighten(@gray-blue,20%);
  height: 36px;
  @media @mobile {
    height: 60px;
  }
}

.chatter {
  font-size: 15px;
  text-align: center;
  font-family: @block-graphics;
  padding: 0 10px;
  padding-bottom: 5px;
  // &.mobile {
  //   display: none;
  //   @media @mobile {
  //     display: block;
  //   }
  // }
  // @media @mobile {
  //   display: none;
  // }
}

.intro-video {
  position: relative;;
}

.title {
  font-family: @title;
  font-weight: 400;
  font-size: 50px;
  padding: 10px 0;
  text-align: center;
  color: white;
  z-index: 100;
  position: absolute;
  top: 60%;
  left:0;
  right:0;
  margin: 0 auto;
  @media @tablet-horiz {
    top: 50%;
    font-size: 40px;
  }
  @media @tablet {
    top: 46%;
    font-size: 30px;
  }
  @media @mobile {
    top: 18%;
    font-size: 20px;
  }
}

.byline {
  padding-top: 20px;
  font-size: 15px;
  text-align: center;
  font-family: @body;
  color: white;
  z-index: 400;
  @media @mobile {
    font-size: 10px;
    padding-top: 10px;
  }
  &.lower {
    padding-top: 10px;
    @media @tablet {
      padding-top: 5px;
    }
    @media @mobile {
      padding-top: 0;
    }
  }
}

#social {
  text-align: center;
  color: white;
  z-index: 400;
  @media @mobile {
    position: relative;
    top: 0;
    left: auto;
    margin-top:-10px;
  }

  a {
    color: @gray-blue;
    font-size: 20px;
    @media @tablet {
      font-size: 22px;
    }
    @media @mobile {
      font-size: 16px;
    }
    padding: 0 8px;
    color: white;
    cursor: pointer;
    &:hover {
      color: @light-gray;
      cursor: pointer;
    }
  }
}

.top-photo {
  height: 100px;
}

.text {
  max-width: 900px;
  margin: auto;
  padding: 0 20px;
  font-size: 18px;
  font-family: @body;
  @media @mobile {
    padding: 0 10px;
  }
  &.intro {
    background: @back-gray;
    font-style: italic;
    border: 1px black solid;
    width: 60%;
    max-width: 500px;
    margin: 20px;
    padding: 20px;
    margin-right: 30%;
    float: right;
    font-size: 12px;
    text-align: center;
    @media @width2060 {
      margin-right: 20%;}
    @media @width1400 {
      margin-right: 10%;}
    @media @width1100 {
      margin-right: 20px;}
    @media @tablet {
      padding: 20px;
      margin: 20px;
      margin-top: 0;
    }
    @media @mobile {
      width: 90%;
      padding: 10px;
      margin: 20px;
      margin-top: 0;
    }
  }
}

header {
  background: lighten(@teachers,40%);
  opacity: 0.95;
  padding: 0 10px;
  position: relative;
  z-index: 99;
  font-family: @bold-graphics;

  .logo {
    float: left;
    margin-right: 10px;
    img {
      margin-top: 10px;
      height: 20px;
    }
    @media @mobile {
      display: none;
    }
  }
  .mobile-logo {
    display: none;
    @media @mobile {
      display: inline;
    }
    img {
      margin-top: 10px;
      height: 18px;
    }
  }

  &::after {
    clear: both;
    content: " ";
    display: block;
  }
}

footer {
  background: @df-charcoal;
  opacity: 1;
  padding: 0 10px;
  position: relative;
  z-index: 99;
  margin-top: 10px;
  cursor: pointer;

  .logo {
    float: left;
    margin-right: 10px;

    img {
      margin-top: 10px;
      height: 20px;
    }
  }

  &::after {
    clear: both;
    content: " ";
    display: block;
  }
  @media @mobile {
    display: none;
  }
}

.credits {
  margin: 30px auto;
  padding: 10px;
  text-align: center;
  // font-style: italic;
  // background: @back-gray;
  // color: @dark-gray;
  font-size: 15px;
  font-family: @body;
  width: 80%;
  @media @mobile {
    width: 100%;
  }
}

.divider {
  width: 80%;
  margin: auto;
  border-bottom: 1px @dark-gray solid;
  height: 2px;
  &.top {
    padding-top: 20px;
    width: 90%;
    margin: auto;
    border-bottom: 1px white solid;
  }
  &.map {
    background: lighten(@gray-blue,20%);
    width: 90%;
    margin: auto;
    height: 1px;
    border-bottom: 1px @dark-gray solid;
  }
  &.introbox {
    margin-top: 5px;
    margin-bottom: 25px;
  }
  &.short {
    width: 50%;
    margin: auto;
    border-bottom: 1px @dark-gray solid;
  }
}
.divider-text {
  margin: auto;
  margin-top: -13px;
  background: white;
  width: 150px;
  text-align: center;
  font-family: @banner;
  text-transform: uppercase;
  letter-spacing: 1px;
  &.top {
    width: 100%;
    border-bottom: 2px black solid;
    margin-bottom: 10px;
    background-color: darken(@gray-blue,30%);
  }
  &.introbox {
    margin-top: -33px;
    width: 300px;
    background: @back-gray;
    @media @mobile {
      width: 220px;
    }
  }
}
.divider-container {
  background: darken(@gray-blue,30%);
  padding-bottom: 10px;
  margin-top: 5px;
}

.dont-miss {
  .display-flex;
  .flex-wrap(wrap);
  margin-bottom: 20px;
  font-size: 17px;
  font-family: @block-graphics;
  @media @mobile {
    margin-bottom: 40px;
  }

  .story {
    .flex(0 0 25%);

    @media @mobile {
      .flex(1 1 50%)
    }
  }
  .padded {
    padding: 10px;
  }
  .small {
    font-weight: bold;
    font-size: 15px;
  }
  img {
    width: 100%;
  }
  // a {
  //   color: @dark-gray;
  //   transition: color .1s linear;
  //
  //   &:hover {
  //     color: @df-blue;
  //   }
  // }
}

// navigation ---------------------------------------------------------

.project-hed {
  text-align: center;
  font-size: 35px;
  padding-top: 20px;
  color: darken(@gray-blue, 25%);
}

.top-nav {
  margin: 20px auto;
  width: 75%;
  border: @light-gray 1px solid;
  padding-bottom: 10px;
}

.navigation {
  width: 100%;
}

.menu-navigation {
  padding: 5px 0;
  text-align: center;
  margin: auto;
  width: inherit;
  height: 38px;
  margin-top: 10px;
  &.clicked {
    display: none;
  }
  a {
    color: @gray-blue;
  }
}

.menu-links, .jump-links {
  color: @light-gray;
}

.jump-navigation {
  background: lighten(@light-gray,20%);
  border-bottom: 1px @light-gray solid;
  // background: darken(@gray-blue, 25%);
  padding: 5px 0;
  text-align: center;
  margin: auto;
  // max-width: 880px;
  // max-width: 900px;
  width: inherit;
  height: 38px;
  margin-top: 10px;
  &.clicked {
    display: none;
  }
}

// .menu-nav-outer {
//   max-width: 900px;
//   margin: 0 auto;
//   margin-top: 20px;
//   background: darken(@gray-blue, 25%);
// }

.menu-navigation {
  width: 70%;
  margin: 10px auto;
  @media @mobile {
    margin-top: 5px;
  }
}

.jump-links {
  a {
    color: @gray-blue;
  }
  // a {
    // color: white;
    // width: 400px;
    // vertical-align: top;
  // }
  // color: white;
  font-family: @title;
  @media @mobile {
    font-size: 20px;
  }
}
.jump-navigation {
  display: none;
  &.sticky {
    display: inline;
  }
  padding-left: 0;
  padding-right: 0;
}

.link {
  margin: 0 20px;
  vertical-align: top;
  cursor: pointer;
}
.logo-link {
  cursor: pointer;
  img {
    opacity: 1;
    height: 25px;
    @media @mobile {
      height: 16px;
    }
  }
}
.subscribe {
  float: right;
  // margin-right: 10px;
}

.link, .logo-link {
  display: inline-block;
  @media @mobile {
    display: inline-block;
    // padding: 5px;
    font-size: 14px;
    // padding-top: 5px;
    margin: 5px;
    &.subscribe {
      margin-right: 5px;
    }
  }
}

#sticky-element.sticky {
  // width: 100%;
  // width: inherit;
  z-index: 100;
  position: fixed;
  top: 0;
  // opacity: 0.9;
  margin-top: 0px;
  text-align: left;
  @media @mobile {
    top: unset;
    bottom: 0;
    font-size: 14px;
    vertical-align: bottom;
  }
}

// video styles ---------------------------------------------------------

.splash {
  width: 100%;
  @media @mobile {
    padding: 0;
    margin: 0;
  }
  padding: 0;
}

.inset-splash {
  width: 80%;
  margin: 30px auto;
  @media @mobile {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  background: white;
}

// video embed code ------------------------------------
.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}

.embed-container iframe, .embed-container object, .embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

// interactive styles ---------------------------------------------------------

.interactive-bureaucratic-maze {
  font-family: @block-graphics;
  .hed, .chatter, .agency-role {
    max-width: 900px;
    padding: 0 20px;
    margin: 0 auto;
    padding-bottom: 15px;
  }
  margin: 70px auto;
  @media @mobile {
    margin: 50px auto;
  }
  .agency {
    opacity: 0;
    display: inline-block;
    width: 80px;
    position: absolute;
    bottom: 0;
    left: 5px;
    &.ten, &.eleven {
      width: 70px;
    }
    cursor: pointer;
    &.active {
      width: 90px;
      left: 0;
      &.ten, &.eleven {
        width: 80px;
      }
    }
    @media @tablet-horiz {
      width: 50px;
      &.ten, &.eleven {
        width: 40px;
      }
      cursor: pointer;
      &.active {
        width: 60px;
        &.ten, &.eleven {
          width: 50px;
        }
      }
    }
    @media @mobile {
      width: 38px;
      &.ten, &.eleven {
        width: 28px;
      }
      &.active {
        width: 48px;
        &.ten, &.eleven {
          width: 38px;
        }
      }
    }
  }
  .agency-container {
    display: inline-block;
    position: relative;
    width: 90px;
    height: 220px;
    @media @tablet-horiz {
      width: 60px;
      height: 150px;
    }
    @media @mobile {
      width: 48px;
      height: 128px;
    }
  }
  .agency-wrapper {
    text-align: center;
    padding: 0 5px;
    @media @mobile {
      padding: 0;
    }
  }
  .agency-role {
    padding: 0 5px;
  }
  .graphic-permit, .graphic-reason {
    text-align: center;
    font-size: 16px;
    margin: 0 20px;
    @media @mobile {
      margin: 0;
    }
  }
  .chatter {
    margin: 0 auto;
    padding: 0 20px;
    @media @mobile {
      margin: 0;
    }
  }

}


.mobile-template {
  padding: 10px;
}

.map-interactive-mobile {
  background: lighten(@gray-blue,20%);
  display: none;
  @media @mobile {
    display: block;
  }
}

.mobile-container {
  position: relative;
  max-width: 95%;
  margin: auto;
  .inset-map {
    width: 90%;
    margin: auto;
    @media @mobile {
      width: 80%;
    }
  }
  .tiny-map {
    width: 95%;
  }
  .tinyimg {
    float: left;
    width: 80px;
    margin: 0 20px;
    margin-top: 5px;
  }
  .graphic-text {
    width: 95%;
    margin: auto;
    font-family: @block-graphics;
    font-size: 15px;
    padding-bottom: 20px;
  }
  .mobile-hed {
    min-height: 65px;
    display:table;
    width: 100%;
  }
  .hed {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
  }
}

.photo-gallery1, .photo-gallery2, .photo-gallery3 {
  position: relative;
  margin: 30px auto;
  @media @mobile {
    margin: 20px auto;
  }
  .photo_g1, .photo_g2, .photo_g3 {
    display: none;
    width: 80%;
    @media @mobile {
      width: 100%;
    }
    margin: auto;
    &.active {
      display: inherit;
    }
  }
}

.scroll-right-gallery1, .scroll-left-gallery1, .scroll-right-gallery2, .scroll-left-gallery2, .scroll-right-gallery3, .scroll-left-gallery3 {
  position: absolute;
  cursor: pointer;
  z-index: 50;
  font-size: 50px;
  width: 8%;
  color: black;
  height: 100%;
  .fa {
    margin-top: 200px;
    @media @mobile {
      margin-top: 80px;
    }
  }
}
.scroll-right-gallery1, .scroll-right-gallery2, .scroll-right-gallery3 {
  left: 92%;
  &.last {
    display: none;
  }
}
.scroll-left-gallery1, .scroll-left-gallery2, .scroll-left-gallery3 {
  left: 5%;
  @media @mobile {
    left: 2%;
  }
  &.first {
    display: none;
  }
}

.scroll-right, .scroll-left {
  position: absolute;
  z-index: 50;
  font-size: 50px;
  top: 80px;
  left: 2%;
  background: lighten(@gray-blue,18%);
  padding: 5px;
  @media @mobile {
    top: 60px;
  }
}
.scroll-right {
  left: 85%;
  @media @mobile {
    left: 90%;
  }
  &.last {
    display: none;
  }
}
.scroll-left{
  &.first {
    display: none;
  }
}


.interactive-header {
  width: 95%;
  margin: auto;
  padding: 10px 0;
  &.mobile {
    display: none;
    @media @mobile {
      display: block;
    }
  }
  &.desktop {
    @media @mobile {
      display: none;
    }
  }
}

.flex-container {
  background: white;
  .display-flex();
  height: 600px;
  @media @tablet {
    height: 600px;
  }
  width: 100%;
  margin: 0 auto;
  .inset-map {
    img {
      width: 95%;
    }
  }
  @media @mobile {
    display: none;
  }
}

.info {
  .flex(0 0 50%);
  // margin-top: 20px;
  font-size: 17px;
  padding-left: 20px;
  font-family: @block-graphics;

  .graphic-title {
    font-size: 22px;
    font-family: @block-graphics;
  }
  .graphic-text {
    font-size: 16px;
    font-family: @block-graphics;
    padding-bottom: 20px;
    padding-top: 15px;
    max-width: 400px;
    margin: auto;
  }
  @media @mobile {
    padding: 20px;
  }
}

.image {
  .flex(1);
  position: relative;
  max-width: 360px;
  margin: 0 auto;
  margin-top: 20px;
  // margin-right: 20px;
  // max-width: 300px;
  .background, .overlay {
    position: absolute;
    width: 100%;
    // padding-top: 45px;
    @media @mobile {
      height: 280px;
      display: none;
    }
  }
}

.inset-map {
  max-width: 400px;
  margin: 20px auto;
}

// .inset-map {
//   img {
//     width: 50%;
//     position: relative;
//     display: block;
//     margin: auto;
//     padding: 5px 0;
//     padding-bottom: 10px;
//   }
// }

.overlay {
  height: 0;
  padding-bottom: percentage(788.4 / 1277.5);

  svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.st-group:hover, .st-group.selected {
  .st-circle {
    fill: darken(#DD492D, 20%);
  }
  .st-plus {
    fill: darken(#F6CDBA, 20%);
  }
  .st-overlay {
    opacity: 0.5;
  }
}

.st-circle {
  fill: #DD492D;
  cursor: pointer;
}
.st-plus {
  fill: #F6CDBA;
  cursor: pointer;
}
.st-overlay {
  fill: #000000;
  opacity: 0;
  cursor: pointer;
}

// part 2: resources -----------------------------------------------------------

.resource {
  font-weight: bolder;
  text-align: left;
  width: 85%;
  margin: auto;
  padding: 5px 20px;
  @media @mobile {
    width: 100%;
  }
  .fa-external-link {
    padding-right: 10px;
  }
}

.resource-link {
  font-style: italic;
  font-weight: 100;
  font-size: 18px;
  cursor: pointer;
}

.resource-text {
  width: 90%;
  margin: 30px auto;
}

.interactive-source, .interactive-credit {
  clear: left;
  padding-top: 10px;
  font-size: 12px;
  color: @dark-gray;
  font-style: italic;
  font-family: @block-graphics;
  @media @tablet {
    padding: 10px 20px;
  }
  @media @mobile {
    padding: 10px;
  }
  &.padded {
    padding-bottom: 40px;
  }
}


.scroll-image {
  margin-top: 20px;
  img {
    height: 1200px;
    @media @mobile {
      height: 900px;
      width: 100%;
    }
  }
  float: left;
  width: 50%;
  text-align: center;
  @media @mobile {
    width: 100%;
    position: relative;
    // position: fixed;
  }
}

.pier-info {
  margin-left: 50%;
  padding: 20px;
  font-family: @block-graphics;
  font-size: 15px;
  color: @light-gray;
  @media @tablet {
    font-size: 14px;
    padding-right: 0;
  }
  @media @mobile {
    display: none;
  }
}

.pier-info-mobile {
  // z-index: 10000;
  position: absolute;
  // position: fixed;
  // bottom: 10px;
  background-color: rgba(0,0,0,0.75);
  color: white;
  font-family: @block-graphics;
  padding: 20px;
  font-size: 14px;
  margin-right: 5%;
  display: none;
  @media @mobile {
    display: none;
    // display: block;
  }
}

.embarcadero-map-interactive {
  width: 80%;
  margin: 40px auto;
  @media @tablet {
    width: 90%;
  }
}

// pt 3: timeline code -----------------------------------------------------------

.timeline-container {
  max-width: 800px;
  width: 80%;
  margin: auto;
  font-family: @block-graphics;

  @media @tablet {
    width: 90%;
    margin: auto;
  }
  @media @mobile {
    width: 100%;
    margin: 0;
  }
}

.timeline {
  width: 100%;
  margin: 0 auto;
  background: white;
  border-bottom: .5px solid rgba(0,0,0,0.2);
  border-top: .5px solid rgba(0,0,0,0.2);
}

#timeline-placeholder {
  display: none;
  height: 75px;

  @media @mobile {
    height: 65px;
  }
}

.event {
  border-top: .5px solid rgba(0,0,0,0.2);
  padding-top: 25px;
  padding-bottom: 25px;
  overflow: auto;
}

.date {
  width: 20%;
  float: left;
  text-align: center;
  font-weight: bold;
  font-size: 20px;

  @media @mobile {
  width: 90%;
  text-align: left;
  margin-left: 5%;
  }
}

.event-info {
  width: 80%;
  float: left;
  font-size: 14px;

  @media @mobile {
  width: 90%;
  margin-left: 5%;
  }
}

#year0, #year12 {
  fill: gray;
}

#year1, #year2, #year3, #year4, #year5, #year6, #year7, #year8, #year9, #year10, #year11 {
  display: none;
}

#year13, #year14, #year15, #year16, #year17, #year18, #year19, #year20, #year21, #year22, #year23, #year24, #year25 {
  display: none;
}

@media screen and (min-width: 481px) {
  .tick:hover > #year13,
  .tick:hover > #year14,
  .tick:hover > #year15,
  .tick:hover > #year16,
  .tick:hover > #year17,
  .tick:hover > #year18,
  .tick:hover > #year19,
  .tick:hover > #year20,
  .tick:hover > #year21,
  .tick:hover > #year22,
  .tick:hover > #year23,
  .tick:hover > #year24,
  .tick:hover > #year25,
  .tick:hover > #year26 {
    display: block;
    fill: gray;
  }

  .tick:hover circle {
    fill: gray;
  }
}

.tick .active {
  display: block !important;
  fill: black !important;
}

.right-align {
  margin-right: 10px;
}

.tick text {
  font-size: 12px;
  font-family: @block-graphics;
}

#timeline.sticky {
  // width: 100%;
  // width: inherit;
  z-index: 100;
  position: fixed;
  top: 0;
  margin-top: 38px;
  text-align: left;

  @media @mobile {
    margin-top: 0;
  }
}

#timeline-bottom {
  height: 1px;
}

svg {
  margin: 0 auto;
  display: block;
}

path.domain {
  stroke-width: 2px;
  stroke: rgba(0,0,0,0.2);
}

.event-anchor {
  display: block;
  height: 113px;
  margin-top: -113px;
  visibility: hidden;

  @media @mobile {
    height: 65px;
    margin-top: -65px;
  }
}
