<!doctype html>
<html>
  <head>
    <title><%= json.project.title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <%= t.include("partials/_head.html") %>
    </head>
  <body>

    <header>
      <a class="logo" href="http://www.sfchronicle.com" target="_blank">
        <img src="./assets/sf_logo_black.png">
      </a>
      <a class="mobile-logo" href="http://www.sfchronicle.com" target="_blank">
        <img src="./assets/sfletter_c_black.png">
      </a>
      <div class="special-head">Special report</div>
    </header>

    <header class="splash">
      <div class="intro-video">

        <video id="my-video" class="video-js" autoplay="" loop="" preload="auto" style="background-color:#fff;margin: 0 auto;width:100%; height:100%;">
           <source src="http://projects.sfchronicle.com/2016/waterfront_videos/Looper2.mp4" type="video/mp4">
           <p class="vjs-no-js">
             To view this video please enable JavaScript, and consider upgrading to a web browser that
             <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
           </p>
         </video>

      </div>
      <div class="title">Sea level rise</div>
    </header>

    <div id="social">
      <a id="twitter-icon" title="Share on Twitter">
         <i class="fa fa-twitter"></i>
      </a>
      <a id="facebook-icon" title="Share on Facebook">
          <i class="fa fa-facebook"></i>
      </a>
      <a id="mail-icon">
        <i class="fa fa-envelope" aria-hidden="true"></i>
      </a>
    </div>

    <div class="byline">By John King</div>
    <div class="byline lower">May 2016</div>

    <div class="menu-navigation">
      <div class="menu-links">
        <div class="logo-link link"><a href="http://www.sfchronicle.com" target="_blank">
          <img src="./assets/sfletter_c_white.png"></a>
        </div>
        <div class="link"><a href="#part1" class="anchor">Introduction</a></div>&bull;
        <div class="link"><a href="#part2" class="anchor">Resources</a></div>
      </div>
    </div>

    <div class="jump-navigation" id="sticky-element">
      <div class="jump-links">
        <div class="logo-link link"><a href="http://www.sfchronicle.com" target="_blank">
          <img src="./assets/sfletter_c_white.png"></a>
        </div>
        <div class="link"><a href="#part1" class="anchor">Introduction</a></div>&bull;
        <div class="link"><a href="#part2" class="anchor">Resources</a></div>
      </div>
    </div>

    <div class="text intro">This is an introduction to the waterfront project, explaining what it is and how it was researched, or what it was motivated by or maybe an explanation of how there are multiple installments or something. This is an introduction to the waterfront project, explaining what it is and how it was researched, or what it was motivated by or maybe an explanation of how there are multiple installments or something.</div>

    <div id="sticky-anchor"></div>

    <div class="section" id="part1">
      <div class="hed-container"><div class="text-hed">Setting the scene</div></div>
      <%= t.include("_part1.html") %>
    </div>

    <div class="section" id="part2">
      <div class="hed-container"><div class="text-hed">Related Resources</div></div>
      <%= t.include("_part2.html") %>
    </div>

    <div class="divider">
    </div>

    <div class="credits">
      <div class="entry">Reporter:  John King &bull; <a href="mailto:jking@sfchronicle.com">jking@sfchronicle.com</a>  &bull; <a href = "https://twitter.com/johnkingsfchron" target="_blank">@johnkingsfchron</a></div>
      <div class="entry">Video:  Erin Brethauer  &bull; <a href="mailto:ebrethauer@sfchronicle.com">ebrethauer@sfchronicle.com</a>   &bull; <a href = "https://twitter.com/erinbrethauer" target="_blank">@erinbrethauer</a></div>
      <div class="entry">Developer:  Emma O'Neill  &bull; <a href="mailto:eoneill@sfchronicle.com">eoneill@sfchronicle.com</a>   &bull; <a href = "https://twitter.com/emmaruthoneill" target="_blank">@emmaruthoneill</a></div>
      <div class="entry">Illustrations:  John Blanchard &bull; <a href="mailto:jblanchard@sfchronicle.com">jblanchard@sfchronicle.com</a></div>
    </div>

    <div class="divider">
    </div>

    <div class="dont-miss">
      <div class="story">
        <div class="padded">
        <a href="http://projects.sfchronicle.com/2016/visas/" target="_blank">
          <img src="./assets/dont-miss-visas.png"></img>
        </a>
          <div class="small">H-1B visas: who gets them, where they go</div>
        </div>
      </div>
      <div class="story">
        <div class="padded">
        <a href="http://projects.sfchronicle.com/2016/top-100-restaurants/" target="_blank">
          <img src="./assets/dont-miss-top100.jpg"></img>
        </a>
          <div class="small">Michael Bauer's Top 100 Restaurants</div>
        </div>
      </div>
      <div class="story">
        <div class="padded">
        <a href="http://projects.sfchronicle.com/2016/living-with-aids/" target="_blank">
          <img src="./assets/aids_special.png"></img>
        </a>
          <div class="small">Living with AIDS</div>
        </div>
      </div>
      <div class="story">
        <div class="padded">
        <a href="http://projects.sfchronicle.com/2016/drought-status/" target="_blank">
          <img src="./assets/dont-miss-drought.jpg"></img>
        </a>
          <div class="small">Check the California drought status</div>
        </div>
      </div>
    </div>

    <footer>
      <a class="logo" href="http://www.sfchronicle.com" target="_blank">
        <img src="./assets/sf_logo_white.png">
      </a>
    </footer>

    <script>
      var mapData = <%= JSON.stringify(csv.map_data) %>;
      var mapDataMobile = <%= JSON.stringify(csv.map_data_mobile) %>;
      var permitData = <%= JSON.stringify(csv.permit_data) %>;
    </script>

    <script src="app.js" async></script>
    <%= t.include("partials/_foot.html") %>
    <%= t.include("partials/_helloSFC.html") %>
  </body>
</html>
