<!doctype html>
<html>
  <head>
    <title><%= json.project.title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <%= t.include("partials/_head.html") %>
    <%= t.include("partials/_analytics_hearst.html") %>
    </head>
  <body>

    <header>
      <a class="logo" href="http://www.sfchronicle.com" target="_blank">
        <img src="./assets/sf_logo_black.png">
      </a>
      <a class="mobile-logo" href="http://www.sfchronicle.com" target="_blank">
        <img src="./assets/sfletter_c_black.png">
      </a>
      <div class="special-head">Special report</div>
    </header>

    <div class="navigation">
      <div class="top-nav">
        <div class="project-hed">Rising reality</div>
        <div class="menu-navigation">
          <div class="menu-links">
            <div class="link"><a href="#part1" class="anchor">The Risk</a></div>&bull;
            <div class="link"><a href="#part2" class="anchor">The Embarcadero</a></div>&bull;
            <div class="link"><a href="#part3" class="anchor">Resources</a></div>
          </div>
        </div>
      </div>
      <div class="jump-navigation" id="sticky-element">
        <div class="jump-links">
          <div class="logo-link link"><a href="http://www.sfchronicle.com" target="_blank">
            <img src="./assets/sfletter_c_white.png"></a>
          </div>
          <div class="link link-title"><a href="#">Rising reality</a></div>
          <div class="link" id="part1_link"><a href="#part1" class="anchor">The Risk</a></div>
          <div class="link" id="part2_link"><a href="#part2" class="anchor">The Embarcadero</a></div>
          <div class="link" id="part3_link"><a href="#part3" class="anchor">Resources</a></div>
          <a id="twitter-icon" class="link social" title="Share on Twitter" href="https://twitter.com/intent/tweet?url=http%3A//projects.sfchronicle.com/2016/sea-level-rise&amp;text=Bay Area’s future dependent on managing rising sea levels. %23RisingReality">
              <i class="fa fa-twitter"></i>
          </a>
          <a id="facebook-icon" class="link social" title="Share on Facebook" href="#" target="_blank" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fprojects.sfchronicle.com%2F2016%2Fsea-level-rise%2F', 'facebook-share-dialog', 'width=626,height=436'); return false;">
                <i class="fa fa-facebook"></i>
          </a>
          <a id="mail-icon" class="link social" href="mailto:?subject=Bay Area’s future depends on managing rising sea levels&body=Special report: The Bay Area can prepare for these shifting tides but must begin planning for that future now and upend a half-century of priorities that inhibits adventurous decision-making and design. http://projects.sfchronicle.com/2016/sea-level-rise/">
              <i class="fa fa-envelope" aria-hidden="true"></i>
          </a>
        </div>
      </div>
    </div>

    <div id="sticky-anchor"></div>

    <div class="section" id="part1">
      <%= t.include("_part1.html") %>
    </div>

    <div class="section" id="part2">
      <%= t.include("_part2.html") %>
    </div>

    <div class="section" id="part3">
      <%= t.include("_part3.html") %>
    </div>

    <div class="divider">
    </div>

    <div class="credits">
      <div class="entry">Reporter:  <br>John King &bull; <a href="mailto:jking@sfchronicle.com">jking@sfchronicle.com</a>  &bull; <a href = "https://twitter.com/johnkingsfchron" target="_blank">@johnkingsfchron</a></div>
      <div class="entry">Videographer and producer: <br>Erin Brethauer  &bull; <a href="mailto:ebrethauer@sfchronicle.com">ebrethauer@sfchronicle.com</a>   &bull; <a href = "https://www.instagram.com/erinbrethauer/" target="_blank">@erinbrethauer</a></div>
      <div class="entry">Interactive producers:  <br>Emma O'Neill  &bull; <a href="mailto:eoneill@sfchronicle.com">eoneill@sfchronicle.com</a>   &bull; <a href = "https://twitter.com/emmaruthoneill" target="_blank">@emmaruthoneill</a>
      <br>Benjamin Din  &bull; <a href="mailto:bdin@sfchronicle.com">bdin@sfchronicle.com</a>   &bull; <a href = "https://twitter.com/benjamindin" target="_blank">@benjamindin</a>
      <br>Lucio Villa  &bull; <a href="mailto:lvilla@sfchronicle.com">lvilla@sfchronicle.com</a>   &bull; <a href = "https://twitter.com/luciovilla" target="_blank">@luciovilla</a></div>
      <div class="entry">Illustrations:  <br>John Blanchard &bull; <a href="mailto:jblanchard@sfchronicle.com">jblanchard@sfchronicle.com</a></div>
      <div class="entry">Photographer:  <br>Michael Macor &bull; <a href="mailto:mmacor@sfchronicle.com">mmacor@sfchronicle.com</a>   &bull; <a href = "https://www.instagram.com/mmacor/" target="_blank">@mmacor</a></div>
    </div>

    <div class="divider">
    </div>

    <div class="dont-miss">
      <div class="story">
        <div class="padded">
        <a href="http://projects.sfchronicle.com/sf-homeless/" target="_blank">
          <img src="./assets/dont-miss-homeless.jpg"></img>
        </a>
          <div class="small">Beyond homelessness</div>
        </div>
      </div>
      <div class="story">
        <div class="padded">
        <a href="http://projects.sfchronicle.com/2016/visas/" target="_blank">
          <img src="./assets/dont-miss-visas.png"></img>
        </a>
          <div class="small">H-1B visas: who gets them, where they go</div>
        </div>
      </div>
      <div class="story">
        <div class="padded">
        <a href="http://projects.sfchronicle.com/2016/drought-status/" target="_blank">
          <img src="./assets/dont-miss-drought.jpg"></img>
        </a>
          <div class="small">Check the California drought status</div>
        </div>
      </div>
      <div class="story">
        <div class="padded">
        <a href="http://projects.sfchronicle.com/2016/living-with-aids/" target="_blank">
          <img src="./assets/aids_special.png"></img>
        </a>
          <div class="small">Living with AIDS</div>
        </div>
      </div>
    </div>

    <footer>
      <a class="logo" href="http://www.sfchronicle.com" target="_blank">
        <img src="./assets/sf_logo_white.png">
      </a>
    </footer>

    <script>
      var mapData = <%= JSON.stringify(csv.map_data) %>;
      var permitData = <%= JSON.stringify(csv.permit_data) %>;
      var embarcaderoData = <%= JSON.stringify(csv.embarcadero_text) %>;
      var timelineData = <%= JSON.stringify(csv.timeline_data) %>;
    </script>

    <script src="app.js" async></script>
    <%= t.include("partials/_foot.html") %>
    <%= t.include("partials/_helloSFC.html") %>
  </body>
</html>
