<!doctype html>
<html>
  <head>
    <title><%= json.project.title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <%= t.include("partials/_head.html") %>
    <%= t.include("partials/_analytics_hearst.html") %>
    </head>
  <body>

    <header>
      <a class="logo" href="http://www.sfchronicle.com" target="_blank">
        <img src="./assets/sf_logo_black.png">
      </a>
      <a class="mobile-logo" href="http://www.sfchronicle.com" target="_blank">
        <img src="./assets/sfletter_c_black.png">
      </a>
      <div class="special-head">Special report</div>
    </header>

    <header class="title-container">
      <div class="title-img">
        <img class="img" src="./assets/photos/waterfrontmainxxxx.jpg">
        <div class="caption">The skyline of San Francisco, California as seen from Treasure Island.</div>
        <div class="credit">Photo: Michael Macor, The Chronicle</div>
      </div>
      <div class="title">Rising seas
        <div class="byline">By John King</div>
        <div class="byline lower">May 2016</div>
      </div>
    </header>

    <div id="social">
      <a id="twitter-icon" title="Share on Twitter" href="https://twitter.com/intent/tweet?url=http%3A//projects.sfchronicle.com/2016/sea-level-rise&amp;text=Sea level rise">
        <i class="fa fa-twitter"></i>
      </a>
      <a id="facebook-icon" title="Share on Facebook" href="#" target="_blank" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fprojects.sfchronicle.com%2F2016%2Fsea-level-rise%2F', 'facebook-share-dialog', 'width=626,height=436'); return false;">
          <i class="fa fa-facebook"></i>
      </a>
      <a id="mail-icon" href="mailto:?subject=Sea Level Rise | SF Chronicle special report.&body=Special project: how sea level rise will impact the bay: http://projects.sfchronicle.com/2016/sea-level-rise/">
        <i class="fa fa-envelope" aria-hidden="true"></i>
      </a>
    </div>

    <div class="navigation">

      <div class="jump-navigation" id="sticky-element">
        <div class="jump-links">
          <div class="logo-link link"><a href="http://www.sfchronicle.com" target="_blank">
            <img src="./assets/sfletter_c_white.png"></a>
          </div>
          <div class="link"><a href="#part1" class="anchor">Part 1</a></div>&bull;
          <div class="link"><a href="#part2" class="anchor">Resources</a></div>
          <div class="subscribe link"><a href="http://www.sfchronicle.com/ultimate_access/" target="_blank">Subscribe</a></div>
        </div>
      </div>
    </div>

    <div class="text intro">
      <p>All credible forecasts indicate that climate change will cause sea levels to rise at an ever-more rapid pace in coming decades, including the waters of San Francisco Bay.

      <p>The region can prepare for these shifting tides. We can protect ourselves and adapt in ways that are enticing as well as scientifically sound. But to do this, the Bay Area must begin planning for that future now and upend a half-century of priorities that inhibits adventurous decision-making and design.

      <p>This summer, Chronicle Urban Design Critic John King will explore this challenge from vantage points around the region and suggest changes at a variety of levels.</div>

    <div id="sticky-anchor"></div>

    <div class="section" id="part1">
      <div class="hed-container"><div class="text-hed">Part 1: A region at risk</div></div>
      <%= t.include("_part1.html") %>
    </div>

    <div class="section" id="part2">
      <div class="hed-container"><div class="text-hed">Related Resources</div></div>
      <%= t.include("_part2.html") %>
    </div>

    <div class="divider">
    </div>

    <div class="credits">
      <div class="entry">Reporter:  John King &bull; <a href="mailto:jking@sfchronicle.com">jking@sfchronicle.com</a>  &bull; <a href = "https://twitter.com/johnkingsfchron" target="_blank">@johnkingsfchron</a></div>
      <div class="entry">Videographer and producer: Erin Brethauer  &bull; <a href="mailto:ebrethauer@sfchronicle.com">ebrethauer@sfchronicle.com</a>   &bull; <a href = "https://www.instagram.com/erinbrethauer/" target="_blank">@erinbrethauer</a></div>
      <div class="entry">Interactive producer:  Emma O'Neill  &bull; <a href="mailto:eoneill@sfchronicle.com">eoneill@sfchronicle.com</a>   &bull; <a href = "https://twitter.com/emmaruthoneill" target="_blank">@emmaruthoneill</a></div>
      <div class="entry">Illustrations:  John Blanchard &bull; <a href="mailto:jblanchard@sfchronicle.com">jblanchard@sfchronicle.com</a></div>
      <div class="entry">Photographer:  Michael Macor &bull; <a href="mailto:mmacor@sfchronicle.com">mmacor@sfchronicle.com</a>   &bull; <a href = "https://www.instagram.com/mmacor/" target="_blank">@mmacor</a></div>
    </div>

    <div class="divider">
    </div>

    <div class="dont-miss">
      <div class="story">
        <div class="padded">
        <a href="http://projects.sfchronicle.com/2016/visas/" target="_blank">
          <img src="./assets/dont-miss-visas.png"></img>
        </a>
          <div class="small">H-1B visas: who gets them, where they go</div>
        </div>
      </div>
      <div class="story">
        <div class="padded">
        <a href="http://projects.sfchronicle.com/2016/top-100-restaurants/" target="_blank">
          <img src="./assets/dont-miss-top100.jpg"></img>
        </a>
          <div class="small">Michael Bauer's Top 100 Restaurants</div>
        </div>
      </div>
      <div class="story">
        <div class="padded">
        <a href="http://projects.sfchronicle.com/2016/teacher-pay/" target="_blank">
          <img src="./assets/dont-miss-teachers.jpg"></img>
        </a>
          <div class="small">Teachers priced out</div>
        </div>
      </div>
      <div class="story">
        <div class="padded">
        <a href="http://projects.sfchronicle.com/2016/drought-status/" target="_blank">
          <img src="./assets/dont-miss-drought.jpg"></img>
        </a>
          <div class="small">Check the California drought status</div>
        </div>
      </div>
    </div>

    <footer>
      <a class="logo" href="http://www.sfchronicle.com" target="_blank">
        <img src="./assets/sf_logo_white.png">
      </a>
    </footer>

    <script>
      var mapData = <%= JSON.stringify(csv.map_data) %>;
      var permitData = <%= JSON.stringify(csv.permit_data) %>;
    </script>

    <script src="app.js" async></script>
    <%= t.include("partials/_foot.html") %>
    <%= t.include("partials/_helloSFC.html") %>
  </body>
</html>
